<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            width: 800px;
            margin: 0 auto;
        }
        .login-control{
            width: 100%;
            margin: 5px;
        }
    </style>
</head>
<body>
    <div align="center">
        <hr>
        <h1>Login</h1> 
        <form action="{% url 'login' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            <br>
            <input type="submit" value="Login"> <br><br>
            <a href="{% url 'register' %}">회원 가입</a>
        </form>
        <hr>
    </div>
</body>
</html>